<div id="nav">	
	<div>
		index-routes: 
	    <a href="/"> Home </a> |
	</div>
	<div>
		auth-routes: 
		<a href="/auth/facebook"> fb Login </a> |
		<a href="/auth/logout"> Logout </a> |
	<div>
	   	user-routes: 
	    <a href="/user/profile"> Show my Profile </a> |
	    <a href="/user/profile/edit"> Edit my Profile </a> |
	</div>
	<div>
		event-routes: 
		<a href="/event/"> Show all Events </a> |
		<a href="/event/add"> Add Event </a> |
	</div>
</div>