<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id='main' class="container">
			<div class="col-md-offset-2 col-md-8">
			<a href="auth/facebook" class="btn btn-info" role="button">Log In with Facebook</a>
			</div>
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>