<html>
	<head>
    <title><%= title %></title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

  <body style="padding-top:0px;">

    <div class="jumbotron">
      <div class="container">
        <!-- Login Button -->
        <h1>Welcome to meetupIO<span style="font-size:0.3em">(Prototype)</span></h1>
        <p><a class="btn btn-primary btn-lg pull-right" href="auth/facebook" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            Log In with Facebook
        </a></p>
      </div>
    </div>

    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Local is the new Social</h2>
          <p>Find activities near you. Simply use your position to see what is going on around you.</p>
        </div>
        <div class="col-md-4">
          <h2>Add your activity</h2>
          <p>Share your activity with others! Need someone to go shopping? Simply add an activity with location and date.</p>
       </div>
        <div class="col-md-4">
          <h2>Meet new people</h2>
          <p>Spend some time with new people around you. You will see: finding new friends is easy and you will never go alone again!</p>
        </div>
      </div>
  </body>
</html>