<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/nav %>
    </header>

    <main>
        
    	<% if (message.length > 0) { %>
   			<div class="alert alert-danger"><%= message %></div>
    	<% } %>

    </main>
    
</body>
</html>