body {
	padding-top:70px;
}

a {
	color: #00B7FF;
}

.eventFeed {
	cursor: pointer;
	display: block;
	padding: 10px;
	margin-bottom: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}


