<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/nav %>
    </header>

    <main>

        <p><img src="<%= user.picture %>"></p>
        <p><strong>User Data</strong>:</p>
        <p>id: <%= user.id %></p>
        <p><%= user %></p>
        
    </main>
    
</body>
</html>