<div class="row" ng-controller="mapController as vm">
	<!-- map section -->
	<div class="col-sm-6">
		<ng-map 
			map-initialized="vm.getCurrentPos()"
			style="width:100%;height:500px;" 
			map-type-control="false"
			street-view-control="false"
			scrollwheel="false"
			zoom-to-include-markers='false'>

			<!-- currentLoc-button -->
			<custom-control style="margin-top:8px;margin-left:8px;" position="TOP_LEFT" on-click="vm.getCurrentPos()">
		    	<button type='button' class="btn btn-default">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				</button>
		    </custom-control>
		    <!-- Places-input -->
			<custom-control style="margin-top:8px;margin-left:8px;margin-right:8px;" position="TOP_LEFT">
				<div class="input-group input-group-sm">
					<input places-auto-complete class="form-control" size="100" on-place-changed="vm.getPlacePos()"/>
				</div>
			</custom-control>

			<marker centered="true" position="{{vm.markerPos}}" draggable="true" on-dragend="vm.getMarkerPos()"></marker>
		</ng-map>
	</div>
	<!-- filter section -->
	<div class="col-sm-6">
		<form class="form-horizontal" role="form" ng-Submit="post()">
			<div class="form-group">
				<label class="control-label">Title</label>
				<input type="text" ng-value="vm.name" required class="form-control" placeholder="Title of your activity..." ng-model="newEvent.title">
			</div>

			<div class="form-group">
				<label class="control-label">Description</label>
		    	<textarea type="text" required class="form-control" rows="5" placeholder="Description of your activity..." ng-model="newEvent.body"></textarea>
	    	</div>

	    	<div class="form-group">
				<label class="control-label">Date</label>
				<input type="datetime-local" required class="form-control" ng-model="newEvent.date">
			</div>
			<!-- location coordinates -->
			<div class="form-group">
				<div class="input-group input-group-sm" style="width:50%;float: left;">
					<span class="input-group-addon" id="sizing-addon2">Lat.</span>
					<input disabled required class="form-control" ng-model="newEvent.lat">
				</div>
				<div class="input-group input-group-sm" style="width:50%;float: left;">
					<span class="input-group-addon" id="sizing-addon2">Lng.</span>
					<input disabled required class="form-control" ng-model="newEvent.lng">
				</div>
			</div>
			
			<input class="btn btn-primary pull-right" type="submit" value="Submit" />
		</form>
	</div>
</div>
<div style="margin-top: 20px" class="row col-sm-12">
	<a href="#!/event/" class="btn btn-default pull-right">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		Back
	</a>
</div>