<div class="row col-sm-offset-2 col-sm-8 col-sm-offset-2">
	<div class="col-md-4"> 
		<img ng-src="{{user.picture}}" class="img-responsive img-circle">
	</div>
	<div class:"col-md-8">	
		<h3>{{user.username}}</h3>
		<p>{{user.name.first}} {{user.name.last}} <span class="label label-default"> {{user.gender}} </span></p>
		<p><a target="_blank" href="{{user.facebook.link}}">Facebook Profile</a></p>
		<p>{{user.about}}</p>
	</div>
</div>
<div style="margin-top: 20px" class="row col-sm-offset-2 col-sm-8 col-sm-offset-2">
	<a href="#/event/" class="btn btn-default pull-right">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		Back
	</a>
</div>
